body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-image: url("https://cdn.pixabay.com/photo/2014/09/07/22/17/forest-438432_960_720.jpg");
}

h1 {
  font-weight: lighter;
  font-size: 40px;
  letter-spacing: 2px;
  margin-bottom: 0px;
  color: white;
}

.inputSection {
  margin: 50px 0px 80px 0px;
  width: 400px;
}

.inputs {
  width: inherit;
  display: flex;
  flex-direction: column;
  color: white;
}

input {
  margin-top: 10px;
}

.addOption {
  margin-top: 10px;
}
button {
  background-color: white;
  font-family: tahoma;
  font-weight: bold;
  width: 40px;
}
